body {background-color:black; font-family: Arial, Helvetica, sans-serif;}
h1{color:grey; font-family: Verdana;}

.maindiv {
    background-color: white;
    border-radius: 25px;
    align-content: center;
    padding: 20px;
    width: 300px;
    color: black;


}

